@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
body{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 238, 238);
    width: 100%;
}
header, nav{
    height: fit-content;
    max-height: 150px;
    width: 100%;
    justify-items: center;
    top:0;
}
h1{
    list-style: none;
    margin: 0;
    padding: 0.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    min-width: 125px;
    max-width: 540px;
    padding-top: 1em;
}
.menu{
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    background-color: #fbfbfb;
}
.navigation{
    justify-content: space-between;
}
.navigation ul{
    width: fit-content;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.navigation li{
    display: inline-flex;
    position: relative;
}
.navlink{
    margin:0;
    padding: 2em;
    text-decoration: none;
    color: black;
    width: 1fr;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navlink:hover{
    background-color: #213ac4;
    color:#fbfbfb;
}
main{
    display:flex;
    flex-direction:column-reverse;
    margin-right: auto ;
    margin-left: auto;
}
section{
    display: flex;
    width: 100%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
aside, .biodata, .experience{
    background-color:#fbfbfb;
    width: fit-content;
    height:fit-content;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
}
aside{
    text-align: center;
    flex-basis: 15%;
    padding: 2em;
    margin-top: 1.5em;
    margin-left: 1.5em;
}
.experience{
    margin-top: 1.5em;
    margin-left: 1em;
    padding: 1.5em; 
}
ul{
    margin: 0;
}
ul li{
    font-size: medium;
}
p{
    margin-bottom: 0;
}
#summary>p{
    text-align: justify;
    line-height: 1.3em;
}
.expcontent{
    display: flex;
    margin: 0;
}
.title{
    height: fit-content;
}
.organisasi{ 
    font-weight: 200;
}
.lembaga, .periode, .posisi{
    font-size: small;
}
.periode, .posisi{
    font-style: italic;
}
article{
    display:flex;
    flex-flow: column;
    z-index: 0;
}
.minicards{
    display:flex;
    flex-direction: row;
}
.experience h3{
    margin:0;
}
h1, h4, h3{
    color:#213ac4;
}
h4{
    font-size: larger;
}
.certification{
    display: flex;
    flex-direction: column;
}
button ion-icon{
    font-size: 1.5em;
    padding-left: 0.5em;
    color: #fbfbfb;
}
.doku{
    width: 330px;
    margin: 1.5em;
    align-self: center;
}
footer{
    background-color: #213ac4;
    color:#fbfbfb;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}
footer h3{
    color: #fbfbfb !important;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.25em;
}
.socmed{
    color: #fbfbfb;
    font-size: 2em;
}
@media only screen and (max-width: 1080px){
    body{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    header{
        width:100%;
    }
    footer{
        width: 100%;
        object-fit: fill;
    }
    main, section{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    aside, #experience, .minicards, #sertif{
        width: 90vw;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .minicards{
        display: inline-flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        gap: 1.25em;
    }
    #tools, #lang{
        width: 100%;
        margin-left: 0;
    }
    .navigation{
        width: 100%;
    }
    .nav{
        display: flex;
        width: fit-content;
    }
}
